<h1>Add Professor</h1>
<form method="post" action="/professors/create"
	<div class="form group">
		<label for="title">Name</label>
		<input type="text" name="title" class="form-control">
	</div>
	<div class="form group">
		<label for="body">Section</label>
		<input type="text" name="body" class="form-control">
	</div>
	<div>
		<input type="submit" value="Submit" class="btn btn primary">
	</div>
</form>