<h1>Add Section</h1>
<form method="post" action="/sections/create"
	<div class="form group">
		<label for="number">Number</label>
		<input type="text" name="number" class="form-control">
	</div>
	<div class="form group">
		<label for="course">Course</label>		
		<input type="text" name="course" class="form-control">

	</div>
	<div class="form group">
		<label for="professor">Professor</label>
		<input type="text" name="professor" class="form-control">		
	</div>
	<div>
		<input type="submit" value="Submit" class="btn btn primary">
	</div>

</form>