<h1>Edit Section</h1>
<form method="post" action="/sections/update/<%= section.id %>">
	<div class="form group">
		<label for="number">Number</label>
		<input type="text" name="number" class="form-control" value="<%=section.number %>">
	</div>
	<div class="form group">
		<label for="course">Course</label>
		<input type="text" name="course" class="form-control" value="<%=section.course.id %>">
	</div>

	<div class="form group">
		<label for="professor">Professor</label>
		<input type="text" name="professor" class="form-control" value="<%=section.professor.id %>">
	</div>

	<div>
		<input type="submit" value="Submit" class="btn btn primary">
	</div>

</form>