<h1>Add Section</h1>
<form method="post" action="/sections/create"
	<div class="form group">
		<label for="title">Number</label>
		<input type="text" name="title" class="form-control">
	</div>
	<div class="form group">
		<label for="body">Course</label>
		<input type="text" name="body" class="form-control">
	</div>
	<div class="form group">
		<label for="bodys">Professor</label>
		<input type="text" name="bodys" class="form-control">
	</div>
	<div>
		<input type="submit" value="Submit" class="btn btn primary">
	</div>

</form>